<div class="container mt-3">
  <h1>Search Results</h1>
<% if @flats.empty? %>
  <p>No results found for your query.</p>
<% else %>
  <ul class="list-unstyled">
    <% @flats.each do |flat| %>
      <li>
        <h2><%= flat.name %></h2>
        <p><%= flat.description %></p>
      </li>
    <% end %>
  </ul>

  <div class="row">
    <div class="col">
      <p>All <%= @flats.count %> flats</p>
    </div>
  </div class="row">

  <div class="row">
  <% @flats.each do |flat| %>
    <div class="col-md-4">
      <%= render "flatcard", flat: flat %>
    </div>
  <% end %>
  </div>
<% end %>
</div>
